*
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	transition: 1s all ease;
	height: 790px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main
{
	width: 500px;
	height: 665px;
	background-color: rgba(253, 236, 81,1);
}

.main-title
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 10px;
}

.main-txt
{
	font-family: 'roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-right: 95px;
}

.main-button
{
	margin-left: 95px;
	padding: 10px 15px;	
	background-color: none;
	border: none;
	outline: none;
	background-color: transparent;
	border-color: white;
	color: rgba(0,0,0,0.4);
	border-radius: 50%;
	transition: 0.3s;
}

.main-button:hover
{
	border-radius: 50%;
	background-color: rgba(219, 205, 70,1);
	transition: 0.3s;
}
.button-img
{
	width: 12px;
	height: 12px;
}

.box
{
	width: 400px;
	height: 440px;
	background-color: white;
	box-shadow: 0 11px 20px rgba(0,0,0,0.3);
	margin: 40px 60px;
	padding: 0 40px;
}

.box-img 
{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	transform: translateY(-30px);
}

.username
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(0,0,0,0.4);
	font-weight: 900;
	font-size: 12px;
	margin-top: 15px;
}

.enter-username
{
	width: 400px;
	padding: 10px 0;
	background-color: none;
	border-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-family: 'roboto', sans-serif;
	color: rgba(0,0,0,0.4);
	font-size: 13px;
	font-weight: 500;
	outline: none;
}


.enter-user
{
	width: 400px;
	padding: 10px 0;
	background-color: none;
	border-style: none;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-family: 'roboto', sans-serif;
	color: rgba(0,0,0,0.8);
	font-size: 13px;
	font-weight: 500;
	outline: none;
}

.first-last-name
{
	display: flex;
}

.user
{
	font-family: 'roboto', sans-serif;
	text-transform: uppercase;
	color: rgba(0,0,0,0.4);
	font-weight: bolder;
	margin-right: 100px;
	font-weight: 900;
	font-size: 12px;
	margin-top: 20px;
}

.box-forum
{
	display: flex;
}