*
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	transition: 1s all ease;
	height: 790px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main
{
	width: 500px;
	height: 665px;
	background-color: rgba(253, 236, 81,1);
}

.main-title
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 10px;
}

.main-txt
{
	font-family: 'roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	margin-right: 95px;
}

.main-button
{
	margin-left: 95px;
	padding: 10px 15px;	
	background-color: none;
	border: none;
	outline: none;
	background-color: transparent;
	border-color: white;
	color: rgba(0,0,0,0.4);
	border-radius: 50%;
	transition: 0.3s;
}

.main-button:hover
{
	border-radius: 50%;
	background-color: rgba(219, 205, 70,1);
	transition: 0.3s;
}
.button-img
{
	width: 12px;
	height: 12px;
}